html,
body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, rgba(128, 128, 128, 0.34) 1px, transparent 0);
  background-size: 10px 10px;
}

#app {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 10vh 10fr;
  /*TODO: DELETE*/
  height: 100vh;
  min-height: 100vh;
  overflow-y: scroll;
}

#control-elements {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  gap: 2%;
  margin: 2vw;
  padding: 1vw;
}

.control-button {
  background-color: #d6b9a0;
  width: 10vw;
  min-width: fit-content;
  white-space: nowrap;
  border: none;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;
}

.control-button:hover {
  opacity: 0.85;
}
